* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    display: flex;
    justify-content: center;
}

#chatHistory {
    flex: 95;
    height: 90vh;
    width: 95%;
    margin-top: 10px;
    overflow: scroll;
    /* border: 1px solid red; */
}

#messageDiv {
    flex: 5;
    position: fixed;
    bottom: 0;
    /* height: 5%; */
    min-height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#messageForm {
    display: flex;
    margin-bottom: 15px;
    width: 70%;
}

#messageInput {
    height: 30px;
    border-radius: 5px;
    flex: 95;
}

#sendMessage {
    height: 33px;
    border-radius: 5px;
    margin-left: 2px;
    flex: 5;
}

#error {
    color: red;
}