<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Document</title>
</head>
<body>
    <div></div>
    <div id="messageDiv">
        <form id="messageForm">
            <input type="text" name="messageInput" id="messageInput">
            <input value="send" type="submit" id="sendMessage">
        </form>
    </div>

    <script src="static/index.js"></script>
</body>
</html>