<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<header>
    {% if jwt %}
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {% endif %}
</header>
<body onload="establishConnection('{{ jwt }}', '{{ groupID }}')">
    <dialog id="newGroupDialog" onclick="dialog.close()">
        <div id="dialogDiv" onclick="dontClose(event)">
            <h2>Create new chat</h2>
            <form action="/group/new" method="POST">
                <input placeholder="Chat Name" type="text" name="groupName" required>
                <button type="button" onclick="changeToInput(this)">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path d="M12 5v14M5 12h14" />
                    </svg>
                    Add Member
                </button>
                <div class="join-link-toggle" onclick="toggleCheck(event)">
                    <p>Generate join link</p>
                    <input type="checkbox" name="genLink" id="genLink">
                </div>
                <div id="members"></div>
                <input value="Create" type="submit">
            </form>
        </div>
    </dialog>

    <div class="main-container">
        <div class="sidebar">
            <div class="chat-header">
                <h2>Chats</h2>
                <button class="icon-button" onclick="dialog.showModal()" aria-label="New Chat">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="icon-plus">
                        <path d="M12 5v14M5 12h14"/>
                    </svg>
                </button>
            </div>

            <ul>
                <li onclick="window.location = '/'">Global</li>
                {% for group in groups %}
                    <li onclick="window.location = '/group/{{ group['id'] }}'">{{ group["name"] }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="chat-area">
            <div id="chatHistory">
                <ul id="chats">
                    {% for msg in msgs %}
                        <li><b>{{ msg["username"] }}</b><br>{{ msg["msg"] }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="messageDiv">
                <form id="messageForm">
                    <input type="text" name="messageInput" id="messageInput" autocomplete="off">
                    <input value="send" type="submit" id="sendMessage">
                </form>
            </div>
        </div>
    </div>

    <script src="/static/index.js"></script>
    <script src="/static/newChat.js"></script>
    <script>
        if ("{{ error }}") {
            alert("{{ error }}")
        }

        if ("{{ joinCode }}") {
            const joinCode = "{{ joinCode }}"
            navigator.clipboard.writeText(`https://examchat.keali.org/group/join?joinCode=${joinCode}`)
            alert("Copied join link to clipboard...")
        }
    </script>
</body>
</html>